{% extends 'frontend/base.html' %}
{% load i18n widget_tweaks %}
{% load bootstrap3 %}
{% block content %}
    <div class="row" style="padding-top: 30px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ heading }}</h3>
                </div>
                <div class="panel-body">
                    <h4>{{ subheading }}</h4>
                    <form action="{% url next_url job.id %}" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>{{ form.non_field_errors }}</p>

                        <p>{{ form.docfile.help_text }}</p>
                        <p>
                            {{ form.docfile.errors }}
                            {{ form.docfile }}
                        </p>
                        <p>
                            <a href="{% url 'frontend:index' %}" class="btn btn-default">Home</a>
                            <button type="submit" class="btn btn-primary">Next</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}