{% extends 'frontend/base.html' %}
{% load i18n widget_tweaks %}
{% load bootstrap3 %}
{% block content %}
<div class="container">
    <div class="row" style="padding-top: 10px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
                    <div class="card">
                      <h3 class="card-header">Uploaded dataset statistics: {{ dag_name }}</h3>
                    </div>

                    <div class="col-md-4">
                        <br>
                        <p class="h4">Dataset info</p>
                        <table class="table table-striped table-bordered table-hover">
                            <tr>
                                <th>Number of records</th>
                                <td>{{ num_of_rows }}</td>
                            </tr>
                            <tr>
                                <th>Number of attributes</th>
                                <td>{{ num_of_attrs }}</td>
                            </tr>
                            <tr>
                                <th>Total size in memory</th>
                                <td>{{ mem_size }}</td>
                            </tr>
                            <tr>
                                <th>Average record size in memory</th>
                                <td>{{ avg_record_size }}</td>
                            </tr>
                        </table>
                        <p> <a href="{% url 'frontend:index' %}">CloudMatcher</a> profiles the uploaded dataset, identifies the basic information
                            required for the user to verify if the dataset uploaded is indeed what he/she
                            wanted to explore/clean or use as one of the dataset in entity matching.
                        </p>
                    </div>
                    <div class="col-md-8">
                        <br>
                        <p class="h4">Attribute info</p>
                        <div class="well-small" style="overflow: scroll; height: 250px; border-bottom: groove">
                        <table class="table table-striped table-bordered table-hover">
                            <thead class="thead-inverse" style="background-color: #eea43c;">
                                <tr>
                                    <th style="text-align: center;">Attribute Name</th>
                                    <th style="text-align: center;">Unique (T/F)</th>
                                    <th style="text-align: center;">Attr Type</th>
                                    <th style="text-align: center;">Missing Values (%)</th>
                                    <th style="text-align: center;">Unique Values (%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for r in attr_info %}
                                    <tr>
                                        {% for cell_val in r %}
                                        <td style="text-align: center;">{{ cell_val }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="well" style="overflow: scroll">
                            <h4>Sample rows</h4>
                            <table class="table table-striped table-bordered table-hover">
                                <thead class="thead-inverse" style="background-color: #eea43c;">
                                    <tr>
                                        {% for column in headers %}
                                            <th style="text-align: center;">{{ column }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in rows %}
                                        <tr>
                                        {% for cell in row %}
                                        <td style="text-align: center;">{{ cell }}</td>
                                        {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div id="get_config_msg" style="display: none;">
                            <p>
                                <h4>
                                    Please accept the statistics to complete the job or hit cancel if you want to cancel this upload.
                                    <hr>
                                    <p>
                                    <input type="button" style="height: 40px; width: 70px" name="YesButton" id="yes-step" value="Accept" class="btn btn-success disabled">
                                    <input type="button" style="height: 40px; width: 70px" name="NoButton" id="no-step" value="Cancel" class="btn btn-danger disabled">
                                    </p>
                                </h4>
                            </p>
                        </div>
                        <div id="confirming" style="display: none;">
                            <p id="confirm_message"><i class="fa fa-refresh fa-spin"></i><h4></h4></p>
                        </div>
                        <div id="home-page" style="display: none">
                            <a href="{% url 'frontend:index' %}" class="btn btn-primary btn-large" style="width: 70px">Home</a>
                            <a href="{% url 'frontend:upload_data' %}" class="btn btn-success">Upload another dataset</a>
                        </div>
                    </div>
                    <div class="col-md-12" style="display: none">
                        <p>
                            <div id="wf_id">{{ wf_id }}</div>
                            <div id="frag_id">{{ frag_id }}</div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="center-align">
        <p>&copy; 2017 CloudMatcher.io, UW-Madison.</p>
    </footer>
</div>
{% endblock %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
  <script type="text/javascript">
    window.onload = function () {
        Confirmation()
    };

    function Confirmation() {
        var wf_id = document.getElementById('wf_id').innerHTML;
        $.ajax({
            type: 'GET',
            url: '/get_profile_status/',
            dataType: 'json',
            data: "wf_id=" + wf_id,
            success: function (e, data) {
                console.log(data);
                console.log(e['workflow_status']);
                var workflow_status = e['workflow_status'];
                if (workflow_status != true) {
                    $("#get_config_msg").fadeIn();
                    $('#yes-step').removeClass('disabled');
                    $('#no-step').removeClass('disabled');
                }
                else {
                    $("#home-page").fadeIn();
                }
            }
        })
    }

    $("#yes-step[type='button']").click(function () {
        var wf_id = document.getElementById('wf_id').innerHTML;
        $.ajax({
            type: 'GET',
            url: '/get_profile_confirmation/',
            dataType: 'json',
            data: "wf_id=" + wf_id,
            success: function (e, data) {
                console.log(data);
                console.log(e['workflow_status']);
                var dag_status = e['dag_status'];
                var workflow_status = e['workflow_status'];
                if (workflow_status === true) {
                    $("#confirming").fadeIn();
                    $("#confirm_message").html("Thank you for confirming! We appreciate your input.");
                    $('#yes-step').addClass('disabled');
                    $('#no-step').addClass('disabled')
                    $("#home-page").fadeIn();
                    window.location = '/index/';
                }
            }
        })
    });

  </script>
{% endblock %}
