{% load staticfiles %}

<html>
	<head>
		<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <title>WATER QUALITY DATA</title>
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
  		<link rel="stylesheet" href="{% static 'album.css' %}">
  		<link rel="stylesheet" href="{% static 'form-elements.css' %}">
  		 
		<!--link rel="stylesheet" href="{% static 'main.css' %}"-->

	</head>
	<body>
		<div class="collapse bg-dark" id="navbarHeader">
	      <div class="container">
	        <div class="row">
	          <div class="col-sm-8 py-4">
	            <h4 class="text-white">About</h4>
	            <h5 class="text-muted">
	            	Madwater.io provides a web query interface on data related to waterbodies and sites (location where samples are collected) in the state of Wisconsin.  Details of waterbodies are obtained from NHD. The 
	            	<a href="https://nhd.usgs.gov/NHD_High_Resolution.html">NHD</a>
	            	 is a digital geospatial dataset that maps the surface water of US. It represents the water drainage network of the US with features such as rivers, streams, canals, lakes, ponds, coastline, dams, and stream gages.The site information for each waterbody is retrieved from Water Quality Data Portal. The 
	            	<a href="https://www.waterqualitydata.us/">WQP</a>
	            	provides an effortless way to access data stored in various large water quality databases.
	            </h5>
	            <h5 class="text-muted top-buffer">
					Process of correlating waterbodies to sites: </h5>
				<h5 class="text-muted">
					Shapefiles for each water body were downloaded from NHD. A polygon was constructed for each water body based on the coordinates of the boundary obtained from these shapefiles. Subsequently, the bounding box (or latitude and longitude) coordinates were retrieved and using them, the sites associated with each water body was fetched from WQP. For each site obtained, information of whether the site was inside (or outside) the water body and its distance from shore (or boundary of the water body) was recorded.
				</h5>
	          </div>
	          <div class="col-sm-4 py-4">
	          	<img src="/static/mendota.png">
	          </div>
	          <!--div class="col-sm-4 py-4">
	            <!--h4 class="text-white">Contact</h4>
	            <ul class="list-unstyled">
	              <!--li><a href="#" class="text-white">Follow on Twitter</a></li>
	              <li><a href="#" class="text-white">Github</a></li>
	              <li><a href="#" class="text-white">Email</a></li>
	            </ul>
	          </div-->
	        </div>
	      </div>
	    </div>
	    <div class="navbar navbar-dark bg-dark">
	      <div class="container d-flex justify-content-between">
	        <a href="{% url 'index' %}" class="navbar-brand">Madwater</a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>
	      </div>
	    </div>
	    <div class="album">
     		<div class="container">
     			
					{% block content %}
					{% endblock content %}
     		
     		</div>
     	</div>
		 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
		 <script src="https://use.fontawesome.com/9607434f00.js"></script>
		 
		 <!--script>
		 	console.log("HELLOOO");
			$(document).ready(function() {
				console.log( "ready!" );
				$('#lake_id_tb').hide(); 
				$('#lake_name_tb').hide(); 
			});
		 </script-->
  		 <script src="{% static 'main.js' %}"></script>
  		 <script async defer
    		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4_i_YKcqlBDqT9nnaaNQ8Mzh6RxA-DFI&callback=initMap">
    </script>
	</body>
</html>
