{% extends 'frontend/base.html' %}
{% block content %}
{% load static %}
{% load filters %}
{% static "" as baseUrl %}

<div class="page-header" id="banner">
    <div class="center-align" id="greetings" style="font-size: large; font-family: Roboto; font-size: 25px;">
        <h3>Select what to work on from the below options.</h3>
    </div>
    {% if info_text %}
    <div class="well-small" style="overflow: scroll; max-height: 50px; height: auto; border-bottom: groove">
        <a class="fragment">
            <div>
                <span id="close" onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'><i class="fa fa-window-close" aria-hidden="true"></i></span>
                <p class="text center-align" style="font-size: medium; font-family: Roboto; color: #5cb85c"> {{ info_text }}</p>
            </div>
        </a>
    </div>
    {% endif %}
    <br>
    <div class="col-md-12" style="display: none">
        <p>
            <div id="login_user">{{ username }}</div>
        </p>
    </div>
  <div class="row">
<!--
      <div class="col-md-12">
        <h4 style="font-family: Roboto;"><u>Current running jobs</u></h4>
      </div>
-->
    <div class="col-md-12 center-align">
        <div class="well" style="overflow: scroll; max-height: 250px; height: auto; border-bottom: groove">
            {% if wf_list %}
            <h4 style="font-family: Roboto;"><u>List of running workflows</u></h4>
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-inverse">
                <tr>
                    <th class="center-align">WF Id</th>
                    <th class="center-align">Workflow name</th>
                    <th class="center-align">Submitted by</th>
                    <th class="center-align">Template</th>
                    <th class="center-align">Current fragment Id</th>
                    <th class="center-align">Status</th>
                    <th class="center-align">Action required from user</th>
                    <th>
                        More info
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </th>
                </tr>
                </thead>
                {% for wf in wf_info %}
                <tbody>
                <tr>
                    <td><a href="{% url 'frontend:wf_progress' wf.id %}">{{ wf.id }}</a></td>
                    <td>{{ wf.name }}</td>
                    <td>{{ wf.owner }}</td>
                    <td>{{ wf.template }}</td>
                    <td>{{ wf.curr_frag_id }}</td>
                    <td>{{ state_description|hash:wf.status }}</td>
                    <td>
                        {% if wf.curr_frag_name == "get_table" %}
                        <input type="button" name="theButton" id="started-step" value="Upload dataset" class="btn btn-primary" data-wfid="{{ wf.id }}" data-fragid="{{ wf.curr_frag_id }}">
                        {% else %}
                            {% if wf.curr_frag_name == "get_confirmation" %}
                            <input type="button" name="theButton" id="profile-step" value="View Profile" class="btn btn-success" data-wfid="{{ wf.id }}" data-userid="{{ wf.owner }}">
                            {% endif %}
                        {% endif %}
                    </td>
                    <td><a href="#">View progress</a></td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
            {% else %}
            <p style="font-size: large; color: #5cb85c"><strong>Currently there are no running workflow's. If you are looking for a list of completed jobs, click on the History tab at the top of the page.</strong></p>
            {% endif %}
            </table>
        </div>

        <div class="section-tout">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <h3><i class="glyphicon glyphicon-cloud-upload"></i> <a href="{% url 'frontend:upload_data' %}">Upload a new dataset</a></h3>
                        <p>Start by uploading a dataset that you would like to browse or use in EM. Upon upload, we will profile your dataset and provide statistics.</p>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <h3><i class="glyphicon glyphicon-circle-arrow-right"></i> <a href="#">Identify matching pairs</a></h3>
                        <p>Select two dataset to be matched and we will perform entity matching for you and return matching pairs as result.</p>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <h3><i class="fa fa-wpexplorer"></i> <a href="#">Browse workspace</a></h3>
                        <p>Getting to know your data is important and so we help you browse all the tables in your workspace be it an uploaded table, matching results, or any intermediate metadata.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <h3><i class="glyphicon glyphicon-stats"></i> <a href="#">Current running jobs</a></h3>
                        <p>Find out the status of all the running jobs submitted by you. In addition, the dashboard will also tell you if there is an input required from you to execute the job.</p>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <h3><i class="glyphicon glyphicon-tasks"></i> <a href="#">Current running tasks</a></h3>
                        <p>See and monitor the tasks running behind the job. Some tasks might need an input from you to finish processing. The dashboard will let you know if an input is required for task completion..</p>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <h3><i class="glyphicon glyphicon-wrench"></i> <a href="#">Manage settings</a></h3>
                        <p>Manage your crowdsourcing, account settings in a secured way. CloudMatcher allows you to configure payment settings here.</p>
                    </div>
                </div>
            </div>
            <hr>
            <footer>
                <p>&copy; 2017 CloudMatcher.io, UW-Madison.</p>
            </footer>
        </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
  <script language="javascript">

      $("#started-step[type='button']").click(function () {
        var wf_id = $(this).data('wfid');
        var frag_id = $(this).data('fragid');
        window.location = '/upload_data?wf_id=' + wf_id + '&frag_id=' + frag_id;
      });

      $("#profile-step[type='button']").click(function () {
        var wf_id = $(this).data('wfid');
        var user_id = $(this).data('userid');
        window.location = '/view_profile?wf_id=' + wf_id + '&user=' + user_id;
      });

  </script>
{% endblock %}
