{% extends 'base_home.html' %}
{% block content %}
{% load static %}
<div class="page-header" id="banner">
    <div class="row">
        <h2>CloudMatcher: Account creation step</h2>
    </div>
    <div class="col-md-12 center-align">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Create an account now to use CloudMatcher</h3>
                            <p>All fields are required.</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-pencil"></i>
                        </div>
                    </div>
                    <div class="form-top">
                        <form role="form" method="post" class="login-form" enctype="multipart/form-data" action="#">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only" for="id_username">Username</label>
                                <input type="text" name="username" placeholder="Enter username" class="username form-control" id="id_username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="id_password1">Password</label>
                                <input type="password" name="password1" placeholder="Enter password" class="password1 form-control" id="id_password1">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="id_password2">RePassword</label>
                                <input type="password" name="password2" placeholder="Enter password again" class="password2 form-control" id="id_password2">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="id_email">Email</label>
                                <input type="text" name="email" placeholder="Enter an email..." class="email form-control" id="id_email">
                            </div>
                            <button type="submit" class="btn">Create Account</button>
                        </form>
                    </div>
                </div>
                <div>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    {{ field.label }}<strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
{% endblock %}
