{% extends "base.html" %}

{% block content %}
	<!--a href="{% url 'index' %}">
		Back to Home
	</a-->
	<div class="grey-wrapper">
		{% if bbs %}
			<div class="row">
				<div class="col-md-12">
					<h3 id="heading">Bounding Boxes
					</h3>
				</div>
			</div>
			<div class="row top-buffer">
			
				<div class="col-md-12">
					<table class="table table-hover table-bordered table-responsive" style="background: #ffffff;">
						<thead>
							<tr class="bootstrap-blue-bg">
								<th>Bounding Box ID</th>
								<th>North</th>
								<th>South</th>
								<th>East</th>
								<th>West</th>
							</tr>
						</thead>
						
						<tbody>
							{% for b in bbs %}
								<tr>
									<td><a href="{% url 'bb_detail' b.bb_id %}">{{ b.bb_id }}</a></td>
									<td>{{ b.north | floatformat:5 }}</td>
									<td>{{ b.south | floatformat:5 }}</td>
									<td>{{ b.east | floatformat:5 }}</td>
									<td>{{ b.west | floatformat:5 }}</td>
								</tr>
							{% endfor %}
						</tbody>
						
					</table>
				</div>
			</div>
		{% else %}
			<div class="row">

				<div class="col-md-12">
					<h4>No data found</h4>
				</div>
			</div>
			
		{% endif %}
	</div>
	
	

{% endblock content %} 
