{% extends "base.html" %}

{% block content %}
	<!--a href="{% url 'index' %}">
		Back to Home
	</a-->
	<div class="grey-wrapper">
		
		<div class="row">
			<div class="col-md-12">
				<h3 id="heading">Characteristics
				</h3>
			</div>
		</div>
		<div class="row top-buffer">
			<div class="col-md-12">
				<table class="table table-hover table-bordered table-responsive" style="background: #ffffff;">
					<thead>
						{% for c in chars %}
							<tr>
								<th><a href="{% url 'characteristics_summary' c %}">{{c}}</th>
							</tr>
						{% endfor %}
					</thead>
					
				</table>
			</div>
		</div>
	</div>

{% endblock content %} 