{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-5">
			<div class="form-box" style="padding-bottom: 30px;">
                <div class="form-top">
                    <div class="form-top-left">
                    	<h3>Query Waterbodies 
                    		<!--i class="fa fa-info-circle" aria-hidden="true" style="font-size: 12px; vertical-align: middle;" data-toggle="tooltip" data-placement="top" title="Retrieves details about specific waterbodies based on the query parameter passed."></i-->
                    	</h3>
                    	
                    </div>
                </div>
                <div class="form-top">
	                    	<i>Retrieves details about specific waterbodies based on the parameter(s) passed.</i>
	                    
                </div>
                <div class="form-top">
                	<form action="/waterbodies/1/" method="GET">	
                		{{ form_waterbodies.non_field_errors }}
                		<!--div class="form-group">
					        {{ form_waterbodies.query_options.errors }}
					        <label for="id_query_options">Query using:</label>
					        {{ form_waterbodies.query_options }}
						    
				    	</div-->
				    	<div class="form-group"  id="lake_name_tb">
					        {{ form_waterbodies.lake_name.errors }}
					        <label class="sr-only" for="id_lake_name">Lake Name:</label>
					        {{ form_waterbodies.lake_name }}
						    
				    	</div>
				    	<div class="form-group" id="lake_id_tb">
					        {{ form_waterbodies.lake_id.errors }}
					        <label class="sr-only" for="id_lake_id">Lake ID:</label>
					        {{ form_waterbodies.lake_id }}
						    
				    	</div>
				    	<div class="form-group"  id="area_tb">
					        {{ form_waterbodies.area_cmp.errors }}
					        {{ form_waterbodies.area.errors }}
					        <div class="input-group">
					        	<span class="input-group-addon" style="padding: 0px;">
						        <label class="sr-only" for="id_area_cmp">Query using:</label>
						        {{ form_waterbodies.area_cmp }}
						        </span>
						        <label class="sr-only" for="id_area">Area:</label>
						        {{ form_waterbodies.area }}
						        <span class="input-group-addon" style="padding: 0px;">sq. km.</span>
					        </div>
						    
				    	</div>
				    	<div class="form-group"  id="fcode_tb">
					        {{ form_waterbodies.fcode.errors }}
					        <label class="sr-only" for="id_fcode">Fcode:</label>
					        {{ form_waterbodies.fcode }}
						    
				    	</div>
				    	{% csrf_token %}
			  			<button type="submit" class="btn" style="font-size: large">Submit</button>
				    </form> 
                </div>
            </div>
		</div>
		<div class="col-md-1 middle-border"></div>
        <div class="col-md-1"></div>
	    <br>
	    <br>
	    <div class="col-md-5">
	    	<div class="form-box" style="padding-bottom: 30px;">
                <div class="form-top">
                    <div class="form-top-left">
                    	<h3>Query Sites 
                    		<!--i class="fa fa-info-circle" aria-hidden="true" style="font-size: 12px; vertical-align: middle;" data-toggle="tooltip" data-placement="top" title="Retrieves details about specific sites based on the query parameter passed."></i-->
                    	</h3>
                    </div>
                </div>
                <div class="form-top">
	                    	<i>Retrieves details about specific sites based on the parameter(s) passed.</i>
	                    
                </div>
                <div class="form-top">
                	<form action="/sites/1/" method="GET">	
                		{{ form_sites.non_field_errors }}
                		<!--div class="row form-group">
                			
                				{{ form_sites.site_id.errors }}
                				<div class="col-md-3" style="margin-top:12px;">
                					<label for="id_query_options">Site ID:</label>
                				</div>
						        
						        <div class="col-md-9">
						        	{{ form_sites.site_id }}
						        </div>
						        
							    
                			
				    	</div-->
				    	<div class="form-group" id="org_name_tb">
					        {{ form_sites.site_id.errors }}
					        <label class="sr-only" for="id_lake_id">Site ID:</label>
					        {{ form_sites.site_id }}
						    
				    	</div>
				    	<div class="form-group" id="org_name_tb">
					        {{ form_sites.org_name.errors }}
					        <label class="sr-only" for="id_lake_id">:</label>
					        {{ form_sites.org_name }}
						    
				    	</div>
				    	<div class="form-group"  id="lake_name_tb">
					        {{ form_sites.org_id.errors }}
					        <label class="sr-only" for="id_lake_name">:</label>
					        {{ form_sites.org_id }}
						    
				    	</div>
				    	<!--div class="form-group"  id="area_tb">
					    
					        {{ form_sites.monitoring_location.errors }}
					       
					        	
						        <label class="sr-only" for="id_area">:</label>
						        {{ form_sites.monitoring_location }}
					       
						    
				    	</div-->
				    	<div class="form-group"  id="area_tb">
					    
					        {{ form_sites.huc.errors }}
					       
					        	
						        <label class="sr-only" for="id_huc">HUC:</label>
						        {{ form_sites.huc }}
					       
						    
				    	</div>
				    	{% csrf_token %}
			  			<button type="submit" class="btn" style="font-size: large">Submit</button>
				    </form> 
                </div>
            </div>
	    </div>	
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
		    <div class="form-box" style="padding-bottom: 30px;">
		    	<div class="row form-top">
			    	<div class="col-md-5">
		                <div class="form-top">
		                    <div class="form-top-left" style="width: 90%;">
		                    	<h3>Query Bounding Boxes
		                    	</h3>
		                    </div>
		                </div>
		                <div class="form-top">
			                    	<i>Obtains bounding box coordinates for waterbodies that lie within the specified latitudes and longitudes and subsequently, retrieves the sites associated with each of them. Each bounding box is associated with a water body.</i>
			                    
		                </div>
		            </div>
		           

			        <div class="col-md-2"></div>
				    <br>
				    <br>
				    <div class="col-md-5" style="margin-top:30px;">
				    	<div class="form-top">
		                	<form action="/bbs/" method="POST">	
		                		{{ form_bb.non_field_errors }}
						    	<div class="form-group" id="org_name_tb">
							        {{ form_bb.north.errors }}
							        <label class="sr-only" for="id_lake_id">Site ID:</label>
							        {{ form_bb.north }}
								    
						    	</div>
						    	<div class="form-group" id="org_name_tb">
							        {{ form_bb.south.errors }}
							        <label class="sr-only" for="id_lake_id">:</label>
							        {{ form_bb.south }}
								    
						    	</div>
						    	<div class="form-group"  id="lake_name_tb">
							        {{ form_bb.east.errors }}
							        <label class="sr-only" for="id_lake_name">:</label>
							        {{ form_bb.east }}
								    
						    	</div>
						    	<div class="form-group"  id="lake_name_tb">
							        {{ form_bb.west.errors }}
							        <label class="sr-only" for="id_lake_name">:</label>
							        {{ form_bb.west }}
								    
						    	</div>
						    	
						    	{% csrf_token %}
					  			<button type="submit" class="btn" style="font-size: large">Submit</button>
						    </form> 
		                </div>
				    </div>
	            </div>    
	        	
		    </div>
		</div>
		<!--div class="col-md-1 middle-border"></div>
        <div class="col-md-1"></div>
	    <br>
	    <br>
	    <div class="col-md-5"></div-->
	</div>
	<hr>
	<div class="row">
		<div class="col-md-5">
			<div class="form-box">
                <div class="form-top">
                    <div class="form-top-left">
                    	<h3>Lake to Site 
                    		<!--i class="fa fa-info-circle" aria-hidden="true" style="font-size: 12px; vertical-align: middle;" data-toggle="tooltip" data-placement="top" title="Retrieves site details related to a lake."></i-->
                    	</h3>
                    	
                    </div>
                    
                    
                </div>
                <div class="form-top">
	                    	<i>Obtains sites associated with a lake by providing the Lake ID</i>
	                    
                </div>
                <div class="form-top">
                	<form id="forml2s" method="POST" >	
                		<div class="form-group">
				    		{{ form.as_p }}
				    	</div>
				    	{% csrf_token %}
			  			<button type="submit" onclick="onL2SSubmit();" class="btn" style="font-size: large">Submit</button>
				    </form> 
                </div>
            </div>
		</div>
		<div class="col-md-1 middle-border"></div>
        <div class="col-md-1"></div>
	    <br>
	    <br>
	    <div class="col-md-5">
			<div class="form-box">
                <div class="form-top">
                    <div class="form-top-left">
                    	<h3>Site to Lake 
                    		<!--i class="fa fa-info-circle" aria-hidden="true" style="font-size: 12px; vertical-align: middle;" data-toggle="tooltip" data-placement="top" title="Retrieves the lake details related to a site."></i-->
                    	</h3>
                    </div>
                </div>
                <div class="form-top">
	                    	<i>Obtains the lake associated with a site by providing the Site ID</i>
	                    
                </div>
                <div class="form-top">
                	<form action="/site_to_lake/" method="POST">	
				    	{{ forms2l.as_p }}
				    	{% csrf_token %}
			  			<button type="submit" class="btn" style="font-size: large">Submit</button>
				    </form> 
                </div>
            </div>
		</div>
	</div>
	<hr>
	



{% endblock content %} 
