{% extends "base.html" %}

{% block content %}
	<!--a href="{% url 'index' %}">
		Back to Home
	</a-->
	
		{% if sites %}
			<div class="row">
				<div class="col-md-12">
					<h3 id="heading">Sites
					</h3>
				</div>
			</div>
			<div class="row top-buffer">
				<div class="col-md-12 top-buffer">
					<h5>Lake ID : {{ nhd_lake_id }}
					</h5>
				
					<h5>Lake Name : {{ lake_name }}
					</h5>
				</div>
			</div>
			<div class="row top-buffer">
			
				<div class="col-md-12">
					<table class="table table-hover table-bordered">
						<thead>
							<tr>
								<th>Site ID</th>
								<th>Monitoring Location</th>
								<th>Inside Lake</th>
								<th>Distance to Shore (in m)</th>
							</tr>
						</thead>
						
						<tbody>
							{% for s in sites %}
								<tr>
									<td>{{ s.site_id }}</td>
									<td>{{ s.monitoringlocationname }}</td>
									<td>{{ s.isinsidelake }}</td>
									<td>{{ s.disttoshore_m }}</td>
								</tr>
							{% endfor %}
						</tbody>
						
					</table>
				</div>
			</div>
		{% else %}
			<div class="row">

				<div class="col-md-12">
					<h4>No data found for lake id : {{ nhd_lake_id }}
					</h4>
				<div class="col-md-12">
			</div>
			
		{% endif %}
	
	

{% endblock content %} 
