{% extends "base.html" %}

{% block content %}
	<!--a href="{% url 'index' %}">
		Back to Home
	</a-->
	<div class="grey-wrapper">
		{% if sites %}
			<div class="row">
				<div class="col-md-12">
					<h3 id="heading">Sites
					</h3>
				</div>
			</div>
			<div class="row top-buffer">
				<div class="col-md-12 top-buffer">
					<h6>Lake ID : <a href="{% url 'lake_detail' nhd_lake_id %}">{{ nhd_lake_id }}</a>
					</h6>
				
					<h6>Lake Name : {{ lake_name }}
					</h6>
				</div>
			</div>
			<div class="row top-buffer">
			
				<div class="col-md-12">
					<table class="table table-hover table-bordered table-responsive" style="background: #ffffff;">
						<thead>
							<tr class="bootstrap-blue-bg">
								<th>Site ID</th>
								<th>Monitoring Location</th>
								<th>Inside Lake</th>
								<th>Distance to Shore (in m)</th>
							</tr>
						</thead>
						
						<tbody>
							{% for s in sites %}
								<tr>
									<td><a href="{% url 'site_detail' s.site_id %}">{{ s.site_id }}</a></td>
									<td>{{ s.monitoringlocationname }}</td>
									<td>{{ s.isinsidelake }}</td>
									<td>{{ s.disttoshore_m | floatformat:5 }}</td>
								</tr>
							{% endfor %}
						</tbody>
						
					</table>
				</div>
			</div>
		{% else %}
			<div class="row">

				<div class="col-md-12">
					<h4>No data found for lake id : {{ nhd_lake_id }}
					</h4>
				</div>>
			</div>
			
		{% endif %}
	</div>
	
	

{% endblock content %} 
