{% extends "base.html" %}

{% block content %}
	<!--a href="{% url 'index' %}">
		Back to Home
	</a-->
	<div class="grey-wrapper">
		{% if sites %}
			<div class="row">
				<div class="col-md-12">
					<h3 id="heading">Sites
					</h3>
				</div>
			</div>
			<div class="row top-buffer">
			
				<div class="col-md-12">
					<table class="table table-hover table-bordered table-responsive" style="background: #ffffff;">
						<thead>
							<tr class="bootstrap-blue-bg">
								<th>Site ID</th>
								<th>Org Name</th>
								<th>Org Id</th>
								<th>HUC</th>
								<th>Monitoring Location</th>
								<th>Location Type</th>
								<th>Location Description</th>
							</tr>
						</thead>
						
						<tbody>
							{% for s in sites %}
								<tr>
									<td><a href="{% url 'site_detail' s.site_id %}">{{ s.site_id }}</a></td>
									<td>{{ s.organizationformalname }}</td>
									<td>{{ s.organizationidentifier }}</td>
									<td>{{ s.huceightdigitcode | floatformat:0 }}</td>
									<td>{{ s.monitoringlocationname }}</td>
									<td>{{ s.monitoringlocationtypename }}</td>
									<td>{{ s.monitoringlocationdescriptiontext }}</td>
								</tr>
							{% endfor %}
						</tbody>
						
					</table>
				</div>
			</div>
		{% else %}
			<div class="row">

				<div class="col-md-12">
					<h4>No data found</h4>
				</div>
			</div>
			
		{% endif %}
	</div>
	
	

{% endblock content %} 
