{% extends "base.html" %}

{% block content %}
	<!--a href="{% url 'index' %}">
		Back to Home
	</a-->
	<div class="grey-wrapper">
		{% if lakes %}
			<div class="row">
				<div class="col-md-10">
					<h3 id="heading">Lakes
					</h3>
					
				</div>
				<div class="col-md-2">
					<a class="download" href="/waterbodies/0/{{ params }}">Download</a>
					<i class="fa fa-info-circle" aria-hidden="true" style="font-size: 12px; vertical-align: middle;" data-toggle="tooltip" data-placement="top" title="This may takes some time."></i> 
				</div>
			</div>
			<div class="row top-buffer">
				<div class="col-md-12">
					<table class="table table-hover table-bordered table-responsive" style="background: #ffffff;">
						<thead>
							<tr class="bootstrap-blue-bg">
								<th>ID</th>
								<th>Name</th>
								<th>Gnis Id</th>
								<th>Area(in sq. km.)</th>
								<th>Elevation(in ft.)</th>
								<th>Shape Length(in decimal deg.)</th>
								<th>Shape Area(in sq. decimal deg.)</th>
							</tr>
						</thead>
						
						<tbody>
							{% for l in lakes %}
								<tr>
									<td><a href="{% url 'lake_detail' l.nhd_lake_id %}">{{ l.nhd_lake_id }}</a></td>
									<td>{{ l.gnis_name }}</td>
									<td>{{ l.gnis_id | floatformat:0 }}</td>
									<td>{{ l.area_sqkm | floatformat:5 }}</td>
									<td>{{ l.elevation_feet }}</td>
									<td>{{ l.shape_leng_decimaldegrees | floatformat:5 }}</td>
									<td>{{ l.shape_area_sqdecimaldegrees | floatformat:5 }}</td>
								</tr>
							{% endfor %}
						</tbody>
						
					</table>
					
					{% if lakes.has_other_pages %}
						<div class="pagination" style="float: right;">
							<span class="step-links">
							{% if lakes.has_previous %}
							<a href="/waterbodies/{{ lakes.previous_page_number }}/{{ params }}">previous</a>
							{% endif %}

							<!-- Showing the page numbers in Html Page -->
							<span class="current">
								Page {{ lakes.number }} of {{ lakes.paginator.num_pages }}.	
							</span>

							{% if lakes.has_next %}
							<a href="/waterbodies/{{ lakes.next_page_number }}/{{ params }}">next</a>
							{% endif %}
							</span>
						</div>
					{% endif %}
				</div>
			</div>
		{% else %}
			<div class="row">

				<div class="col-md-12">
					<h4>No data found</h4>
				</div>
			</div>
			
		{% endif %}
	</div>
	
	

{% endblock content %} 
