{% extends "base.html" %}

{% block content %}
	<!--a href="{% url 'index' %}">
		Back to Home
	</a-->
	<div class="grey-wrapper">
		{% if lakes %}
			<div class="row">
				<div class="col-md-12">
					<h3 id="heading">Lakes
					</h3>
				</div>
			</div>
			<div class="row top-buffer">
			
				<div class="col-md-12">
					<table class="table table-hover table-bordered table-responsive" style="background: #ffffff;">
						<thead>
							<tr class="bootstrap-blue-bg">
								<th>Lake ID</th>
								<th>Lake Name</th>
								<th>Gnis Id</th>
								<th>Area(in sq. km.)</th>
								<th>Elevation(in ft.)</th>
								<th>Shape Length(in decimal deg.)</th>
								<th>Shape Area(in sq. decimal deg.)</th>
							</tr>
						</thead>
						
						<tbody>
							{% for l in lakes %}
								<tr>
									<td>{{ l.nhd_lake_id }}</td>
									<td>{{ l.gnis_name }}</td>
									<td>{{ l.gnis_id }}</td>
									<td>{{ l.area_sqkm }}</td>
									<td>{{ l.elevation_feet }}</td>
									<td>{{ l.shape_leng_decimaldegrees }}</td>
									<td>{{ l.shape_area_sqdecimaldegrees }}</td>
								</tr>
							{% endfor %}
						</tbody>
						
					</table>
				</div>
			</div>
		{% else %}
			<div class="row">

				<div class="col-md-12">
					<h4>No data found</h4>
				</div>
			</div>
			
		{% endif %}
	</div>
	
	

{% endblock content %} 
