Django
psycopg2
djangorestframework
celery
flower
django-cors-headers
pandas
django-bootstrap3
pyprind
jpype1
scipy
Cython
django-widget-tweaks
lxml
bitarray
service_identity
requests
gunicorn
django-widget-tweaks
requests
